.find_select{
    width: 100%;
    height: 100px;
    background-color: #00b3ee;
}
.find_select_layer1{
    width: 60%;
    height: 70%;
    background-color: #1ab667;
}
.find_select_letters{

}
/*dt{*/
/*    padding-left: 30rem;*/
/*    margin-left: 10rem;*/
/*}*/
